.label {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  
}

.select {
  margin-top: 2rem;
  width: 100%;
  display: block;
  border: 3px solid grey;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}